@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
  background-color: black;
}

.container-game {
  height: 800px;
  width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-gamifica{
  width: 500px;
  height: 600px;

  padding: 40px;

  background-color: #fff;

  border: solid 15px #cf5830;
  border-radius: 30px;

  color: black;
  font-family: "Anta";

  position: absolute;
  top: 10%;
  left: 5%;
}

.sobre-gamifica h2{
  margin-bottom: 40px;

  font-size: 30px;
  text-align: center;
}

.sobre-gamifica p{
  font-size: 16px;
  text-align: justify;

  line-height: 2;
}