@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
  background-color: black;
}

.container-game {
  width: 1200px;
  height: 800px;

  margin: 20px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.gamificacao{
  right: 5%;
}

.sobre-gamifica{
  left: 5%;
}

.sobre-gamifica, .gamificacao{
  width: 500px;
  height: 600px;

  padding: 40px;

  background-color: #fff;

  border: solid 15px #cf5830;
  border-radius: 30px;

  color: black;
  font-family: "Anta";

  position: absolute;
  top: 10%;  
}

.sobre-gamifica h2, .gamificacao h2{
  margin-bottom: 40px;

  font-size: 30px;
  text-align: center;
}

.sobre-gamifica p, .gamificacao p{
  font-size: 16px;
  text-align: justify;

  line-height: 2;
}